.boyst0 {
    fill: #f7fcfd;
}

.boyst1 {
    fill: #1e0f3a;
}

.boyst2 {
    fill: #2fc9f5;
}

.boyst3 {
    fill: #54b1e1;
}

.boyst4 {
    fill: #40cdfd;
}

.boyst5 {
    fill: #2086d1;
}

.boyst6 {
    fill: #202059;
}

.boyst7 {
    fill: #2772c3;
}

.boyst8 {
    fill: #32cafe;
}

.boyst9 {
    fill: #8cc7f6;
}

.boyst10 {
    fill: #108adb;
}

.boyst11 {
    fill: #2bbcfd;
}

.boyst12 {
    fill: #22184b;
}

.boyst13 {
    fill: #155ab0;
}

.boyst14 {
    fill: #6ad8fd;
}

.boyst15 {
    fill: #223067;
}

.boyst16 {
    fill: #2b2244;
}

.boyst17 {
    fill: #29c5fc;
}

.boyst18 {
    fill: #1aa9fa;
}

.boyst19 {
    fill: #13295e;
}

.boyst20 {
    fill: #57b3eb;
}

.boyst21 {
    fill: #36c4fb;
}

.boyst22 {
    fill: #138bdd;
}

.boyst23 {
    fill: #26a4f5;
}

.boyst24 {
    fill: #2ec8fd;
}

.boyst25 {
    fill: #58cefd;
}

.boyst26 {
    fill: #8eecfe;
}

.boyst27 {
    fill: #097acc;
}

.boyst28 {
    fill: #1b1642;
}

.boyst29 {
    fill: #8ed9fc;
}

.boyst30 {
    fill: #281549;
}

.boyst31 {
    fill: #199cf8;
}

.boyst32 {
    fill: #078fe4;
}

.boyst33 {
    fill: #251454;
}

.boyst34 {
    fill: #2a3375;
}

.boyst35 {
    fill: #229adc;
}

.boyst36 {
    fill: #a0d8e8;
}

.boyst37 {
    fill: #45cefe;
}

.boyst38 {
    fill: #28aaf7;
}

.boyst39 {
    fill: #1c0e4a;
}

.boyst40 {
    fill: #28ccfb;
}

.boyst41 {
    fill: #3e9dea;
}

.boyst42 {
    fill: #162866;
}

.boyst43 {
    fill: #1159ad;
}

.boyst44 {
    fill: #0c7fdc;
}

.boyst45 {
    fill: #34ccfd;
}

.boyst46 {
    fill: #0c70c5;
}

.boyst47 {
    fill: #3dc9fd;
}

.boyst48 {
    fill: #27285a;
}

.boyst49 {
    fill: #221451;
}

.boyst50 {
    fill: #f6f5e0;
}

.boyst51 {
    fill: #38c5fe;
}

.boyst52 {
    fill: #0180dc;
}

.boyst53 {
    fill: #1a1054;
}

.boyst54 {
    fill: #3cc6fa;
}

.boyst55 {
    fill: #31bef7;
}

.boyst56 {
    fill: #33c3fc;
}

.boyst57 {
    fill: #3080c4;
}

.boyst58 {
    fill: #58caf4;
}

.boyst59 {
    fill: #16b8fc;
}

.boyst60 {
    fill: #12a7ef;
}

.boyst61 {
    fill: #3eb7f8;
}

.boyst62 {
    fill: #28154d;
}

.boyst63 {
    fill: #50b7e5;
}

.boyst64 {
    fill: #191539;
}

.boyst65 {
    fill: #d6ccc3;
}

.boyst66 {
    fill: #0988e5;
}

.boyst67 {
    fill: #1b1155;
}

.boyst68 {
    fill: #1179ce;
}

.boyst69 {
    fill: #fcf4da;
}

.boyst70 {
    fill: #41cffe;
}

.boyst71 {
    fill: #2598f2;
}

.boyst72 {
    fill: #1cc7fa;
}

.boyst73 {
    fill: #19133d;
}

.boyst74 {
    fill: #22a1e3;
}

.boyst75 {
    fill: #20a6fc;
}

.boyst76 {
    fill: #221950;
}

.boyst77 {
    fill: #261642;
}

.boyst78 {
    fill: #61e4fd;
}

.boyst79 {
    fill: #201c68;
}

.boyst80 {
    fill: #2499e4;
}

.boyst81 {
    fill: #148ae4;
}

.boyst82 {
    fill: #28b5f7;
}

.boyst83 {
    fill: #476cb6;
}

.boyst84 {
    fill: #37cdfe;
}

.boyst85 {
    fill: #141246;
}

.boyst86 {
    fill: #21c8fb;
}

.boyst87 {
    fill: #211c4e;
}

.boyst88 {
    fill: #4ad5fe;
}

.boyst89 {
    fill: #1c1145;
}

.boyst90 {
    fill: #2697ce;
}

.boyst91 {
    fill: #0869bd;
}

.boyst92 {
    fill: #2e2762;
}

.boyst93 {
    fill: #23a6f6;
}

.boyst94 {
    fill: #0273d0;
}

.boyst95 {
    fill: #20205a;
}

.boyst96 {
    fill: #251954;
}

.boyst97 {
    fill: #22154d;
}

.boyst98 {
    fill: #46b4cb;
}

.boyst99 {
    fill: #251c47;
}

.boyst100 {
    fill: #1386d9;
}

.boyst101 {
    fill: #220f43;
}

.boyst102 {
    fill: #0a7dd3;
}

.boyst103 {
    fill: #5db6ea;
}

.boyst104 {
    fill: #21104a;
}

.boyst105 {
    fill: #e2d8db;
}

.boyst106 {
    fill: #2ac8fa;
}

.boyst107 {
    fill: #0f133a;
}

.boyst108 {
    fill: #211650;
}

.boyst109 {
    fill: #37cdfc;
}

.boyst110 {
    fill: #24a2f3;
}

.boyst111 {
    fill: #5aadf0;
}

.boyst112 {
    fill: #44cdfd;
}

.boyst113 {
    fill: #31b9fd;
}

.boyst114 {
    fill: #0591e3;
}

.boyst115 {
    fill: #1492e0;
}

.boyst116 {
    fill: #fd677f;
}

.boyst117 {
    fill: #21184e;
}

.boyst118 {
    fill: #2e8ed8;
}

.boyst119 {
    fill: #2dbffe;
}

.boyst120 {
    fill: #0a77c8;
}

.boyst121 {
    fill: #cbf3f9;
}

.boyst122 {
    fill: #56dafc;
}

.boyst123 {
    fill: #0579cd;
}

.boyst124 {
    fill: #23124a;
}

.boyst125 {
    fill: #91e1e2;
}

.boyst126 {
    fill: #1b1d6b;
}

.boyst127 {
    fill: #3fc4fb;
}

.boyst128 {
    fill: #262768;
}

.boyst129 {
    fill: #8bf0fd;
}

.boyst130 {
    fill: #9ccfea;
}

.boyst131 {
    fill: #8cf0fe;
}

.boyst132 {
    fill: #9cd8eb;
}

.boyst133 {
    fill: #21184d;
}

.boyst134 {
    fill: #250f40;
}

.boyst135 {
    fill: #21104b;
}

.boyst136 {
    fill: #37cafe;
}

.boyst137 {
    fill: #222356;
}

.boyst138 {
    fill: #a0daea;
}

.boyst139 {
    fill: #193370;
}

.boyst140 {
    fill: #201a54;
}

.boyst141 {
    fill: #24104a;
}

.boyst142 {
    fill: #6bbdf9;
}

.boyst143 {
    fill: #077dd8;
}

.boyst144 {
    fill: #200d37;
}

.boyst145 {
    fill: #46e2fd;
}

.boyst146 {
    fill: #250f45;
}

.boyst147 {
    fill: #35cafd;
}

.boyst148 {
    fill: #343b72;
}

.boyst149 {
    fill: #218bda;
}

.boyst150 {
    fill: #241154;
}

.boyst151 {
    fill: #1faaf9;
}

.boyst152 {
    fill: #0590ee;
}

.boyst153 {
    fill: #e6fdf8;
}

.boyst154 {
    fill: #3fcafd;
}

.boyst155 {
    fill: #261341;
}

.boyst156 {
    fill: #3fd0fd;
}

.boyst157 {
    fill: #096db3;
}

.boyst158 {
    fill: #28215c;
}

.boyst159 {
    fill: #2cb7d2;
}

.boyst160 {
    fill: #2372c0;
}

.boyst161 {
    fill: #0383df;
}

.boyst162 {
    fill: #2ec6fc;
}

.boyst163 {
    fill: #27abf9;
}

.boyst164 {
    fill: #35ccfc;
}

.boyst165 {
    fill: #220f49;
}

.boyst166 {
    fill: #86f3fb;
}

.boyst167 {
    fill: #2255a9;
}

.boyst168 {
    fill: #e7dcc8;
}

.boyst169 {
    fill: #2599c9;
}

.boyst170 {
    fill: #bcc4cb;
}

.boyst171 {
    fill: #35a3cf;
}

.boyst172 {
    fill: #1c0b47;
}

.boyst173 {
    fill: #05cbfd;
}

.boyst174 {
    fill: #32c3fd;
}

.boyst175 {
    fill: #31abee;
}

.boyst176 {
    fill: #1e1d4a;
}

.boyst177 {
    fill: #27193e;
}

.boyst178 {
    fill: #50d7fc;
}

.boyst179 {
    fill: #2d2644;
}

.boyst180 {
    fill: #f8eee4;
}

.boyst181 {
    fill: #1b99d9;
}

.boyst182 {
    fill: #251955;
}

.boyst183 {
    fill: #20163b;
}

.boyst184 {
    fill: #58b4e6;
}

.boyst185 {
    fill: #1d225f;
}

.boyst186 {
    fill: #0c0b32;
}

.boyst187 {
    fill: #231647;
}

.boyst188 {
    fill: #faf9dc;
}

.boyst189 {
    fill: #8debfd;
}

.boyst190 {
    fill: #2cbffd;
}

.boyst191 {
    fill: #2ebcfc;
}

.boyst192 {
    fill: #22114f;
}

.boyst193 {
    fill: #0c97dc;
}

.boyst194 {
    fill: #231447;
}

.boyst195 {
    fill: #1173d0;
}

.boyst196 {
    fill: #fd6c82;
}

.boyst197 {
    fill: #1ca2e3;
}

.boyst198 {
    fill: #64a7e1;
}

.boyst199 {
    fill: #0d7edd;
}

.boyst200 {
    fill: #04a2f3;
}

.boyst201 {
    fill: #201243;
}

.boyst202 {
    fill: #13c8fc;
}

.boyst203 {
    fill: #1e1330;
}

.boyst204 {
    fill: #4c3b73;
}

.boyst205 {
    fill: #56b0f0;
}

.boyst206 {
    fill: #29a1f4;
}

.boyst207 {
    fill: #35c8fc;
}

.boyst208 {
    fill: #29134c;
}

.boyst209 {
    fill: #169ff9;
}

.boyst210 {
    fill: #222a69;
}

.boyst211 {
    fill: #1d1445;
}

.boyst212 {
    fill: #30bdda;
}

.boyst213 {
    fill: #36bbe7;
}

.boyst214 {
    fill: #f6f8df;
}

.boyst215 {
    fill: #1a2079;
}

.boyst216 {
    fill: #139ae5;
}

.boyst217 {
    fill: #1a2041;
}

.boyst218 {
    fill: #20124a;
}

.boyst219 {
    fill: #40c5fb;
}

.boyst220 {
    fill: #1763bd;
}

.boyst221 {
    fill: #1c1363;
}

.boyst222 {
    fill: #5de0fb;
}

.boyst223 {
    fill: #9ecee4;
}

.boyst224 {
    fill: #27c0f7;
}

.boyst225 {
    fill: #37c3e7;
}

.boyst226 {
    fill: #0275c4;
}

.boyst227 {
    fill: #19b5fc;
}

.boyst228 {
    fill: #171c42;
}

.boyst229 {
    fill: #1acafd;
}

.boyst230 {
    fill: #0659b4;
}

.boyst231 {
    fill: #fbfaf0;
}

.boyst232 {
    fill: #48d2fe;
}

.boyst233 {
    fill: #0b7dcc;
}

.boyst234 {
    fill: #2fc4fd;
}

.boyst235 {
    fill: #56a7db;
}

.boyst236 {
    fill: #2d82d6;
}

.boyst237 {
    fill: #109af7;
}

.boyst238 {
    fill: #24194b;
}

.boyst239 {
    fill: #174d98;
}

.boyst240 {
    fill: #2dbdf7;
}

.boyst241 {
    fill: #24c6f6;
}

.boyst242 {
    fill: #47d8fc;
}

.boyst243 {
    fill: #2cc8fd;
}

.boyst244 {
    fill: #33d1fd;
}

.boyst245 {
    fill: #3accfe;
}

.boyst246 {
    fill: #21123e;
}

.boyst247 {
    fill: #119ceb;
}

.boyst248 {
    fill: #34c7fd;
}

.boyst249 {
    fill: #32c8fe;
}

.boyst250 {
    fill: #34c1fc;
}

.boyst251 {
    fill: #38cafd;
}

.boyst252 {
    fill: #23143c;
}

.boyst253 {
    fill: #3eaae9;
}

.boyst254 {
    fill: #1a1938;
}

.boyst255 {
    fill: #318bde;
}

.boyst256 {
    fill: #057ed4;
}

.boyst257 {
    fill: #2ab3fa;
}

.boyst258 {
    fill: #5bc1fa;
}

.boyst259 {
    fill: #0671cb;
}

.boyst260 {
    fill: #32c0fc;
}

.boyst261 {
    fill: #151752;
}

.boyst262 {
    fill: #f1f2ec;
}

.boyst263 {
    fill: #1b193f;
}

.boyst264 {
    fill: #2296e5;
}

.boyst265 {
    fill: #1f64b8;
}

.boyst266 {
    fill: #211553;
}

.boyst267 {
    fill: #0c73c9;
}

.boyst268 {
    fill: #8cdfe3;
}

.boyst269 {
    fill: #ecefe4;
}

.boyst270 {
    fill: #1e123f;
}

.boyst271 {
    fill: #1e194b;
}

.boyst272 {
    fill: #49c8fe;
}

.boyst273 {
    fill: #2cb0f9;
}

.boyst274 {
    fill: #160f3b;
}

.boyst275 {
    fill: #081545;
}

.boyst276 {
    fill: #5ebae1;
}

.boyst277 {
    fill: #181149;
}

.boyst278 {
    fill: #38cdfd;
}

.boyst279 {
    fill: #e1d5d2;
}

.boyst280 {
    fill: #3dcdfe;
}

.boyst281 {
    fill: #41d1fd;
}

.boyst282 {
    fill: #33c8fd;
}

.boyst283 {
    fill: #177ccc;
}

.boyst284 {
    fill: #0371c2;
}

.boyst285 {
    fill: #2fcafd;
}

.boyst286 {
    fill: #5ab0e7;
}

.boyst287 {
    fill: #1d1143;
}

.boyst288 {
    fill: #34d3fd;
}

.boyst289 {
    fill: #0c7dd7;
}

.boyst290 {
    fill: #25c8fd;
}

.boyst291 {
    fill: #149deb;
}

.boyst292 {
    fill: #272265;
}

.boyst293 {
    fill: #23274b;
}

.boyst294 {
    fill: #048ce9;
}

.boyst295 {
    fill: #f3f6f0;
}

.boyst296 {
    fill: #239ded;
}

.boyst297 {
    fill: #26225c;
}

.boyst298 {
    fill: #2fc8fe;
}

.boyst299 {
    fill: #57afe7;
}

.boyst300 {
    fill: #faf7eb;
}

.boyst301 {
    fill: #1bbcfd;
}

.boyst302 {
    fill: #251942;
}

.boyst303 {
    fill: #056ccf;
}

.boyst304 {
    fill: #c5e7f3;
}

.boyst305 {
    fill: #4182bd;
}

.boyst306 {
    fill: #1f73c6;
}

.boyst307 {
    fill: #89c5e1;
}

.boyst308 {
    fill: #39c2fd;
}

.boyst309 {
    fill: #201d57;
}

.boyst310 {
    fill: #1c1845;
}

.boyst311 {
    fill: #93d6dc;
}

.boyst312 {
    fill: #82e8fd;
}

.boyst313 {
    fill: #211042;
}

.boyst314 {
    fill: #0b86d5;
}

.boyst315 {
    fill: #037bcf;
}

.boyst316 {
    fill: #1785cb;
}

.boyst317 {
    fill: #36c9fd;
}

.boyst318 {
    fill: #1ebbf8;
}

.boyst319 {
    fill: #25276d;
}

.boyst320 {
    fill: #0856b2;
}

.boyst321 {
    fill: #3989d4;
}

.boyst322 {
    fill: #40ccfd;
}

.boyst323 {
    fill: #323366;
}

.boyst324 {
    fill: #201447;
}

.boyst325 {
    fill: #131c3c;
}

.boyst326 {
    fill: #1b79d6;
}

.boyst327 {
    fill: #0263c8;
}

.boyst328 {
    fill: #15a0de;
}

.boyst329 {
    fill: #26a1f0;
}

.boyst330 {
    fill: #1765c9;
}

.boyst331 {
    fill: #1878c5;
}

.boyst332 {
    fill: #1d1a39;
}

.boyst333 {
    fill: #231342;
}

.boyst334 {
    fill: #22c4fe;
}

.boyst335 {
    fill: #25c5fc;
}

.boyst336 {
    fill: #36c8fd;
}

.boyst337 {
    fill: #34c9fd;
}

.boyst338 {
    fill: #d0fefc;
}

.boyst339 {
    fill: #1f133e;
}

.boyst340 {
    fill: #3bb4e7;
}

.boyst341 {
    fill: #3dbff5;
}

.boyst342 {
    fill: #1ea6e9;
}

.boyst343 {
    fill: #36cafe;
}

.boyst344 {
    fill: #5fb2e8;
}

.boyst345 {
    fill: #28a3ee;
}

.boyst346 {
    fill: #2ccdfc;
}

.boyst347 {
    fill: #1a173f;
}

.boyst348 {
    fill: #1c122c;
}

.boyst349 {
    fill: #26c9f7;
}

.boyst350 {
    fill: #086bbf;
}

.boyst351 {
    fill: #165eb1;
}

.boyst352 {
    fill: #2a356f;
}

.boyst353 {
    fill: #2e2244;
}

.boyst354 {
    fill: #28a7f5;
}

.boyst355 {
    fill: #29a9f7;
}

.boyst356 {
    fill: #3678d1;
}

.boyst357 {
    fill: #5fd2fc;
}

.boyst358 {
    fill: #28a6ed;
}

.boyst359 {
    fill: #3ee2fc;
}

.boyst360 {
    fill: #44d5fb;
}

.boyst361 {
    fill: #102664;
}

.boyst362 {
    fill: #27a5ee;
}

.boyst363 {
    fill: #11a1e6;
}

.boyst364 {
    fill: #0289e4;
}

.boyst365 {
    fill: #26a8d5;
}

.boyst366 {
    fill: #43c9fd;
}

.boyst367 {
    fill: #017edc;
}

.boyst368 {
    fill: #afd5ed;
}

.boyst369 {
    fill: #2c2342;
}

.boyst370 {
    fill: #0585df;
}

.boyst371 {
    fill: #291b62;
}

.boyst372 {
    fill: #28185c;
}

.boyst373 {
    fill: #1ea4f1;
}

.boyst374 {
    fill: #2f3989;
}

.boyst375 {
    fill: #1f90e0;
}

.boyst376 {
    fill: #241f5a;
}

.boyst377 {
    fill: #0165bd;
}

.boyst378 {
    fill: #2cb6f9;
}

.boyst379 {
    fill: #2bd2fd;
}

.boyst380 {
    fill: #013291;
}

.boyst381 {
    fill: #25c4ef;
}

.boyst382 {
    fill: #1f1741;
}

.boyst383 {
    fill: #0892ef;
}

.boyst384 {
    fill: #1b0f42;
}

.boyst385 {
    fill: #127ee0;
}

.boyst386 {
    fill: #2289e4;
}

.boyst387 {
    fill: #1a85d4;
}

.boyst388 {
    fill: #1d1145;
}

.boyst389 {
    fill: #1f165a;
}

.boyst390 {
    fill: #c0c4d7;
}

.boyst391 {
    fill: #1c1551;
}

.boyst392 {
    fill: #1b74c7;
}

.boyst393 {
    fill: #1989d6;
}

.boyst394 {
    fill: #0d92e9;
}

.boyst395 {
    fill: #adfafd;
}

.boyst396 {
    fill: #1c7ac1;
}

.boyst397 {
    fill: #0983ce;
}

.boyst398 {
    fill: #10b1fb;
}

.boyst399 {
    fill: #77e2fa;
}

.boyst400 {
    fill: #52afdf;
}

.boyst401 {
    fill: #2a9cf1;
}

.boyst402 {
    fill: #1d0e40;
}

.boyst403 {
    fill: #2fbaf7;
}

.boyst404 {
    fill: #1a356d;
}

.boyst405 {
    fill: #030e38;
}

.boyst406 {
    fill: #1a88d7;
}

.boyst407 {
    fill: #2caff5;
}

.boyst408 {
    fill: #0b7bcd;
}

.boyst409 {
    fill: #221846;
}

.boyst410 {
    fill: #30c6fd;
}

.boyst411 {
    fill: #46cdfe;
}

.boyst412 {
    fill: #232059;
}

.boyst413 {
    fill: #46cbfd;
}

.boyst414 {
    fill: #49c2fa;
}

.boyst415 {
    fill: #d4f5f1;
}

.boyst416 {
    fill: #e4dee0;
}

.boyst417 {
    fill: #191345;
}

.boyst418 {
    fill: #edf9fb;
}

.boyst419 {
    fill: #8df0fd;
}

.boyst420 {
    fill: #4ac2fb;
}

.boyst421 {
    fill: #16123c;
}

.boyst422 {
    fill: #3dccfe;
}

.boyst423 {
    fill: #20184d;
}

.boyst424 {
    fill: #1c52ab;
}

.boyst425 {
    fill: #23234a;
}

.boyst426 {
    fill: #73a4d3;
}

.boyst427 {
    fill: #41b5e0;
}

.boyst428 {
    fill: #0387df;
}

.boyst429 {
    fill: #1d1841;
}

.boyst430 {
    fill: #291f43;
}

.boyst431 {
    fill: #4ac9fc;
}

.boyst432 {
    fill: #2ba6f3;
}

.boyst433 {
    fill: #1e1a4a;
}

.boyst434 {
    fill: #50c2f5;
}

.boyst435 {
    fill: #66baf6;
}

.boyst436 {
    fill: #4b4e83;
}

.boyst437 {
    fill: #1f194f;
}

.boyst438 {
    fill: #0270c6;
}

.boyst439 {
    fill: #49d2fc;
}

.boyst440 {
    fill: #26154c;
}

.boyst441 {
    fill: #24184c;
}

.boyst442 {
    fill: #3ccffd;
}

.boyst443 {
    fill: #07499b;
}

.boyst444 {
    fill: #39cffd;
}

.boyst445 {
    fill: #e1fdfc;
}

.boyst446 {
    fill: #72edfc;
}

.boyst447 {
    fill: #2a7fb8;
}

.boyst448 {
    fill: #fbfce4;
}

.boyst449 {
    fill: #1669be;
}

.boyst450 {
    fill: #26154a;
}

.boyst451 {
    fill: #166ec4;
}

.boyst452 {
    fill: #2a2a64;
}

.boyst453 {
    fill: #1276cf;
}

.boyst454 {
    fill: #21abec;
}

.boyst455 {
    fill: #3bd0fd;
}

.boyst456 {
    fill: #242056;
}

.boyst457 {
    fill: #fbfce8;
}

.boyst458 {
    fill: #daf3fb;
}

.boyst459 {
    fill: #1eaffd;
}

.boyst460 {
    fill: #31b7f8;
}

.boyst461 {
    fill: #fbf9e2;
}

.boyst462 {
    fill: #2c1468;
}

.boyst463 {
    fill: #f8f7e5;
}

.boyst464 {
    fill: #25236a;
}

.boyst465 {
    fill: #3acafd;
}

.boyst466 {
    fill: #36c6fe;
}

.boyst467 {
    fill: #e67192;
}

.boyst468 {
    fill: #0f1a45;
}

.boyst469 {
    fill: #231763;
}

.boyst470 {
    fill: #20184e;
}

.boyst471 {
    fill: #edf5f8;
}

.boyst472 {
    fill: #145eaa;
}

.boyst473 {
    fill: #1b1746;
}

.boyst474 {
    fill: #fafbed;
}

.boyst475 {
    fill: #0d3680;
}

.boyst476 {
    fill: #85e8fd;
}

.boyst477 {
    fill: #1e1848;
}

.boyst478 {
    fill: #bc719f;
}

.boyst479 {
    fill: #0d123b;
}

.boyst480 {
    fill: #55b2e8;
}

.boyst481 {
    fill: #26c8fc;
}

.boyst482 {
    fill: #1f246b;
}

.boyst483 {
    fill: #098ad8;
}

.boyst484 {
    fill: #157fdb;
}

.boyst485 {
    fill: #31ccfe;
}

.boyst486 {
    fill: #1a80ce;
}

.boyst487 {
    fill: #0b7cd3;
}

.boyst488 {
    fill: #017fd2;
}

.boyst489 {
    fill: #1c1944;
}

.boyst490 {
    fill: #1d0d3a;
}

.boyst491 {
    fill: #1497f2;
}

.boyst492 {
    fill: #1c57a4;
}

.boyst493 {
    fill: #37cbfe;
}

.boyst494 {
    fill: #3dbefd;
}

.boyst495 {
    fill: #85eefd;
}

.boyst496 {
    fill: #1f3783;
}

.boyst497 {
    fill: #117cd5;
}

.boyst498 {
    fill: #312f6f;
}

.boyst499 {
    fill: #241638;
}

.boyst500 {
    fill: #201756;
}

.boyst501 {
    fill: #33cafe;
}

.boyst502 {
    fill: #250f4e;
}

.boyst503 {
    fill: #fcf4d9;
}

.boyst504 {
    fill: #10154b;
}

.boyst505 {
    fill: #251a5f;
}

.boyst506 {
    fill: #0f93dd;
}

.boyst507 {
    fill: #1d103d;
}

.boyst508 {
    fill: #1b80d2;
}

.boyst509 {
    fill: #209eee;
}

.boyst510 {
    fill: #50b2e7;
}

.boyst511 {
    fill: #1583dd;
}

.boyst512 {
    fill: #ecf5f8;
}

.boyst513 {
    fill: #128bde;
}

.boyst514 {
    fill: #39b4e2;
}

.boyst515 {
    fill: #220c4d;
}

.boyst516 {
    fill: #1d92dd;
}

.boyst517 {
    fill: #09186a;
}

.boyst518 {
    fill: #37c2e6;
}

.boyst519 {
    fill: #3fbffd;
}

.boyst520 {
    fill: #1e88d6;
}

.boyst521 {
    fill: #0c7cd9;
}

.boyst522 {
    fill: #3bc7fe;
}

.boyst523 {
    fill: #3988dc;
}

.boyst524 {
    fill: #44cefa;
}

.boyst525 {
    fill: #61baea;
}

.boyst526 {
    fill: #1b9ffb;
}

.boyst527 {
    fill: #0c71cb;
}

.boyst528 {
    fill: #097bd9;
}

.boyst529 {
    fill: #1aa6f6;
}

.boyst530 {
    fill: #1e134a;
}

.boyst531 {
    fill: #15a0f0;
}

.boyst532 {
    fill: #bb81aa;
}

.boyst533 {
    fill: #2bb4d2;
}

.boyst534 {
    fill: #2486d2;
}

.boyst535 {
    fill: #278ede;
}

.boyst536 {
    fill: #1faee5;
}

.boyst537 {
    fill: #0c84e0;
}

.boyst538 {
    fill: #1d2343;
}

.boyst539 {
    fill: #9aedfb;
}

.boyst540 {
    fill: #1d1046;
}

.boyst541 {
    fill: #37a5f2;
}

.boyst542 {
    fill: #f7f4e6;
}

.boyst543 {
    fill: #f8f5e3;
}

.boyst544 {
    fill: #46cffc;
}

.boyst545 {
    fill: #2fcafa;
}

.boyst546 {
    fill: #1c8eda;
}

.boyst547 {
    fill: #3bcdfd;
}

.boyst548 {
    fill: #251547;
}

.boyst549 {
    fill: #86e9f9;
}

.boyst550 {
    fill: #27a7f9;
}

.boyst551 {
    fill: #46a4db;
}

.boyst552 {
    fill: #33d1fc;
}

.boyst553 {
    fill: #221634;
}

.boyst554 {
    fill: #0377d0;
}

.boyst555 {
    fill: #e17092;
}

.boyst556 {
    fill: #151740;
}

.boyst557 {
    fill: #0c90e3;
}

.boyst558 {
    fill: #1a0d4d;
}

.boyst559 {
    fill: #33cafc;
}

.boyst560 {
    fill: #2bc9f7;
}

.boyst561 {
    fill: #2290eb;
}

.boyst562 {
    fill: #40d4fc;
}

.boyst563 {
    fill: #33c9fd;
}

.boyst564 {
    fill: #0683dd;
}

.boyst565 {
    fill: #279fe1;
}

.boyst566 {
    fill: #251049;
}

.boyst567 {
    fill: #211845;
}

.boyst568 {
    fill: #3ac8fd;
}

.boyst569 {
    fill: #0c9be1;
}

.boyst570 {
    fill: #39c8fc;
}

.boyst571 {
    fill: #1f0f40;
}

.boyst572 {
    fill: #22a6e7;
}

.boyst573 {
    fill: #151c3f;
}

.boyst574 {
    fill: #27204a;
}

.boyst575 {
    fill: #88b0db;
}

.boyst576 {
    fill: #1770c8;
}

.boyst577 {
    fill: #2cc8fc;
}

.boyst578 {
    fill: #250e44;
}

.boyst579 {
    fill: #241e37;
}

.boyst580 {
    fill: #046cbd;
}

.boyst581 {
    fill: #37b8fa;
}

.boyst582 {
    fill: #200e3c;
}

.boyst583 {
    fill: #0b4ca2;
}

.boyst584 {
    fill: #1b0d31;
}

.boyst585 {
    fill: #4cafeb;
}

.boyst586 {
    fill: #33c3f7;
}

.boyst587 {
    fill: #221146;
}

.boyst588 {
    fill: #3ad8fd;
}

.boyst589 {
    fill: #28bae3;
}

.boyst590 {
    fill: #19418d;
}

.boyst591 {
    fill: #161954;
}

.boyst592 {
    fill: #191b3d;
}

.boyst593 {
    fill: #221c51;
}

.boyst594 {
    fill: #31bbf5;
}

.boyst595 {
    fill: #ceebfc;
}

.boyst596 {
    fill: #0279c8;
}

.boyst597 {
    fill: #26174b;
}

.boyst598 {
    fill: #39bcef;
}

.boyst599 {
    fill: #44befa;
}

.boyst600 {
    fill: #29b4fb;
}

.boyst601 {
    fill: #171e4b;
}

.boyst602 {
    fill: #fafcfd;
}

.boyst603 {
    fill: #38cafe;
}

.boyst604 {
    fill: #86e1e4;
}

.boyst605 {
    fill: #88ebfe;
}

.boyst606 {
    fill: #136bbe;
}

.boyst607 {
    fill: #258fd8;
}

.boyst608 {
    fill: #291963;
}

.boyst609 {
    fill: #25184c;
}

.boyst610 {
    fill: #191e7b;
}

.boyst611 {
    fill: #171962;
}

.boyst612 {
    fill: #0995dd;
}

.boyst613 {
    fill: #f3f0f5;
}

.boyst614 {
    fill: #d8fefc;
}

.boyst615 {
    fill: #0479d6;
}

.boyst616 {
    fill: #1c1540;
}

.boyst617 {
    fill: #3acbfd;
}

.boyst618 {
    fill: #59c3f9;
}

.boyst619 {
    fill: #291d52;
}

.boyst620 {
    fill: #1985d3;
}

.boyst621 {
    fill: #8fdee1;
}

.boyst622 {
    fill: #1d154c;
}

.boyst623 {
    fill: #59d0f2;
}

.boyst624 {
    fill: #a3dce8;
}

.boyst625 {
    fill: #fbf7e1;
}

.boyst626 {
    fill: #26245d;
}

.boyst627 {
    fill: #108cc7;
}

.boyst628 {
    fill: #201741;
}

.boyst629 {
    fill: #231c5c;
}

.boyst630 {
    fill: #1d1943;
}

.boyst631 {
    fill: #3c95f2;
}

.boyst632 {
    fill: #4cd0f7;
}

.boyst633 {
    fill: #e5fcfb;
}

.boyst634 {
    fill: #34c5fd;
}

.boyst635 {
    fill: #29bcfc;
}

.boyst636 {
    fill: #302d74;
}

.boyst637 {
    fill: #2473cc;
}

.boyst638 {
    fill: #0a74d6;
}

.boyst639 {
    fill: #fcf7d8;
}

.boyst640 {
    fill: #3fbef0;
}

.boyst641 {
    fill: #cffdf8;
}

.boyst642 {
    fill: #1f0e41;
}

.boyst643 {
    fill: #1889c6;
}

.boyst644 {
    fill: #9deffe;
}

.boyst645 {
    fill: #271660;
}

.boyst646 {
    fill: #2fc8fd;
}

.boyst647 {
    fill: #0a91c9;
}

.boyst648 {
    fill: #36cbfe;
}

.boyst649 {
    fill: #1b64c0;
}

.boyst650 {
    fill: #2ec3fe;
}
