html {
  font-size: 65%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f3f2f1;
  overflow: hidden;
  font-family: "Segoe","Segoe UI","Arial","sans-serif";
}

.header-bar {
  position: relative;
  left: 15px;
}

.tools-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon{
  height: 10%;
  padding: 12px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.sign-out {
  margin-left: auto;
  margin-right: 100px;
  /* margin-left: 1000px; */
}

.session-code {
  font-size: 20px;
  margin-left: auto;
  margin-right: 180px;
  font-weight: bold;
}

img {
  height: 16px;
}

.title {
  font-size: 20px;
  margin-right: 30px;
}

.input-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.date {
  font-size: 12px;
  color: #605e5c;
  margin-bottom: 30px;
}

.task-input {
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  width: 95%;
  box-shadow: 0px 0px 3px 1px #55555517;
  padding: 14px 16px;
  box-sizing: border-box;
}

.task-input-boy::placeholder {
  color: #2564cf;
  font-size: 14px;
}

.task-input-girl::placeholder {
  color: pink;
  font-size: 14px;
}

.task-input:focus {
  color: black;
}

.task-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.task-container, .auth-page-input-container{
  background-color: white;
  width: 95%;
  box-shadow: 0px 0px 3px 1px #55555517;
  border-radius: 3px;
}

.task-title {
  font-size: 14px;
  font-weight: 700;
  padding:10px 16px;
}

.tasks {
  width: 100%;
  overflow: scroll;
  scrollbar-color:#2564cf;
  scrollbar-width: thin;
  max-height: 175px;
}

.task-container-single {
  width: 100%;
  border-top: 1px #f3f2f1 solid;
  padding: 5px 16px;
  box-sizing: border-box;
  display: inline-block;
  position: relative
}

.task {
  vertical-align: middle;
  background-color: black;
  border-top: 100px #000000;
}

label {
  vertical-align: middle;
  pointer-events: none;
  font-size: 14px;
  margin-left: 25px
}

.completed-tasks {
  overflow: scroll;
  scrollbar-color:#2564cf;
  scrollbar-width: thin;
  max-height: 175px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.completed-task-title {
  background-color: #f2f2f2ed;
}

.delete-task-button {
  border: none;
  background-color: transparent;
  vertical-align: middle; 
  position: absolute;
  right: 20px;   
}

.checkbox {
  vertical-align: middle; 
  position: absolute;
}

.checkmark-icon{
  height: 16px
}

.checkmark-icon:hover{
  cursor: pointer;
}

.trash-icon {
  height: 10px;
}

.grid-practice {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 3px 1px #55555517;
  border-radius: 10px;
  padding: 20px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.auth-page-title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.auth-page-input-container {
  padding: 25px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 55%;
  background-color: white;
}

.auth-page-inputs {
  padding: 5px 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-width: 1px;
}

.auth-buttons {
  margin-top: 15px;
}

.show-password-button {
  width: 30%;
  background-color: white;
  border: none;
  color: blue;
  text-decoration: underline;
  margin-bottom: 5px;
  font-size: 12px;
}

.show-password-button:hover{
  cursor: pointer;
}

.auth-button {
  width: 50%;
  border: none;
  background-color: white;
}

.auth-button:hover {
  background-color: rgb(197, 196, 196);
}

.progress-bar-component-container {
  margin-top: 300px;
  display: flex;
  flex-direction: row;
  /* Position fixed? */
}

.progress-bar-container {
  width: 100%;
  position: absolute;
  /* left: 30px; */
}

.progress-bar-girl{
  height: 30px;
  width: 90%;
  transform: rotate(0.5turn);
  float: right;
}

.progress-bar-girl-label{
  float: right;
}

.progress-bar-boy {
  height: 30px;
  width: 90%;
  /* float: right; */
}

.session-page {
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
  margin: auto auto;
  position: absolute;
  top: 30%;
  left: 40%
}

.join-session-container {
  height: 50px;
}

.create-session-button {
  height: 50px;
  font-size: 30px;
  margin-bottom: 225px;
}

.join-session-input {
  height: 65%;
  width: 300px;
}

.join-session-title {
  height: 25%;
}

.join-session-submit{
  height: 70%;
  margin-left: 5px;
}

/* MODAL */
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  /* setting the z-index made a big diff huh */
    /* Set the modal to on and off depedning on a state variable */
  z-index: 2;

}

.modal {
  width: 500px;
  background-color: white;
  padding: 40px;
  border-radius: 10px;

  /* What is the point of the double here? */
  box-shadow: rgba(0,0,0,0.05), 0px 6px 24px 0, rgba(0,0,0,0.08), 0 0 0 1px
}


.modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.modal-header .input-bar-date{
  width: 300px;
  height: 20px;
  padding: 7px 8px;
}

.modal-header button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  position: relative;
  /* Hard coding this bit in but I think your supopsed to use position layering here */
  margin-top: -70px;
  margin-left: 175px;
}

.modal-header button:hover{
  color: red;
}


.modal .title {
  margin-top: 20px;
  font-weight: bold;
}


/* .date-container {
} */